---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "About Matt Trapp",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		{/* TODO: write your bio. */}
		<p>
			I'm Matt Trapp. This is my corner of the internet for writing and notes on the things I'm
			working on.
		</p>
		<p>
			You can find me on <a
				class="cactus-link inline-block"
				href="https://github.com/trapp01"
				rel="noreferrer"
				target="_blank">GitHub</a
			>, or reach me by <a class="cactus-link inline-block" href="mailto:matthewtrapp01@gmail.com"
				>email</a
			>.
		</p>
	</div>
</PageLayout>
